{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p class="alert-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <a href="signout">Sign Out</a>
        <h1>Welcome {{ request.user.username }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <select name="regression_model" id="regression_model">
                <option value="" selected disabled>Select Model</option>
                <option value="Random Forest Regression">Random Forest Regression</option>
                <option value="Linear Regression">Linear Regression</option>
                <option value="XGB Regression">XGB Regression</option>
                <option value="SVR Regression">SVR Regression</option>
                <option value="DTR Regression">DTR Regression</option>
                <option value="ADA Regression">ADA Regression</option>
                <option value="Cat Booste Regression">Cat Booste Regression</option>
                <option value="Light GBM Regression">Light GBM Regression</option>
                <option value="Bayesian Regression">Bayesian Regression</option>
                <option value="Lasso Regression">Lasso Regression</option>
                <option value="Ridge Regression">Ridge Regression</option>
                <option value="Elastic Net Regression">Elastic Net Regression</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        {% block content %}
        {% endblock %}
    {% else %}
        {% block sign %}
        {% endblock %}
    {% endif %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>